# Ignorar los directorios de trabajo de Terraform
**/.terraform/

# Ignorar los archivos de estado de Terraform
**/*.tfstate
**/*.tfstate.*

# Ignorar los archivos de registro de fallos
crash.log
crash.*.log

# Ignorar los archivos de variables de Terraform (pueden contener datos sensibles)
**/*.tfvars
**/*.tfvars.json

# Ignorar los archivos de sobrescritura de Terraform (modificaciones locales)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar los archivos de bloqueo creados durante terraform apply
.terraform.tfstate.lock.info

# Ignorar los archivos de plan de Terraform
*.tfplan

# Ignorar los archivos de configuración del CLI
.terraformrc
terraform.rc


